<!DOCTYPE html>
<html>
<body>

<h1>Show Checkboxes</h1>

<form action="/hobbies", method="get">
  <input type="checkbox" id="hobby1" name="hobby" value="Sport">
  <label for="hobby1">Sport</label><br>

  <input type="checkbox" id="hobby2" name="hobby" value="Fumetti">
  <label for="hobby2">Fumetti</label><br>

  <input type="checkbox" id="hobby3" name="hobby" value="Serie">
  <label for="hobby3">Serie</label><br>

  <input type="checkbox" id="hobby4" name="hobby" value="Videogiochi">
  <label for="hobby4">Videogiochi</label><br>

  <input type="checkbox" id="hobby5" name="hobby" value="Disegno">
  <label for="hobby5">Disegno</label><br>

  <input type="checkbox" id="hobby6" name="hobby" value="Musica">
  <label for="hobby6">Musica</label><br>

  <input type="submit" value="Submit">
</form>

</body>
</html>
